.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
<<<<<<< HEAD

.logo {
width: 100%;
height: 400px;
}
=======
>>>>>>> a5795475462f8eccc362a219519d51c12bfb5bba
