.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5349115e5f749901682f76f883a96165b7119496

.logo {
  width: 100%;
  height: 400px;
}
<<<<<<< HEAD
=======
=======
>>>>>>> a5795475462f8eccc362a219519d51c12bfb5bba
>>>>>>> 5349115e5f749901682f76f883a96165b7119496
