form {
  font-family: Assistant;
  text-align: right;
  direction: rtl;
}

.formControl {
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 2;
}

.sameLineLabel {
  display: inline-block;
}

.radio {
  display: inline-block;
  text-align: left;
  width: unset;
  font-size: 12px;
}
